<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="" type="">

  <title>ClardexFx</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="/images/hero-bg.png" alt="">
      </div>
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="#">
            <span>
              ClardexFx
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </li>

            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Welcome to <br> Clardex FX secured and fast trading
                    </h1>
                    <div class="btn-box">
                      <a href="/about" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Welcome to <br> Clardex FX secured and fast trading
                    </h1>

                    <div class="btn-box">
                      <a href="/about" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Welcome to <br> Clardex FX secured and fast trading
                    </h1>

                    <div class="btn-box">
                      <a href="/about" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>

        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Deposit
                </h5>
                <p>Deposit on several asset up to 200 stock and also crypto trading. <a href="/signup">Click here to
                    deposit
                  </a>
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="/images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Trade
                </h5>
                <p>Trade on several asset up to 200 stock and also crypto trading. <a href="/signup">Click here to
                    get started

                  </a>
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="/images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Withdraw
                </h5>
                <p>Trade on several asset up to 200 stock and also crypto trading. <a href="/signup">Click here to
                    get started
                  </a>
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          We are here for <span>You</span>
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We Are ClardexFx
            </h3>
            <br>
            <h4><u>Support</u></h4>
            <p>
              Our team is at your disposal 24hours a day, 7days a week, If you have any questions write to us.
            </p>
            <h4><u>Dedicated Server</u></h4>
            <p>
              Our site is located on a very secure, stable and dedicated server. You do not have to worry about any
              break in it's operation.
            <h4><u>Warranty</u></h4>
            <p>
              The stability of our company and income guarantee that your deposit is safe and secured throughout the
              entire investment plan.
            </p>
            <h4><u>Team</u></h4>
            <p>
              We are a well coordinated team that takes responsibility for fulfilling the contract.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose <span>Us</span>
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="/images/w1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Expert Management
            </h5>
            <p>
              Our team of seasoned professionals brings years of experience and expertise to the table. We analyze
              market trends, conduct thorough research, and implement effective strategies to maximize your investment
              potential. With our expert management, you can trust that your investments are in capable hands.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/images/w2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Secure Investment
            </h5>
            <p>
              Security is our top priority. We employ cutting-edge technology and adhere to stringent security protocols
              to safeguard your investments and personal information. Our secure investment platform ensures that your
              funds are protected against potential threats, giving you peace of mind as you trade and invest with us.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/images/w3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Instant Trading
            </h5>
            <p>
              Time is of the essence in the world of trading. With our instant trading feature, you can seize
              opportunities as they arise, capitalizing on market movements in real-time. Our intuitive platform allows
              for swift and seamless transactions, enabling you to execute trades with ease and efficiency.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/images/w4.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Happy Customers
            </h5>
            <p>
              Our clients' satisfaction is paramount. We prioritize transparency, reliability, and exceptional customer
              service in everything we do. From responsive support to user-friendly interfaces, we strive to exceed your
              expectations at every turn. Join our community of happy customers and experience the difference for
              yourself.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end why section -->

  <!-- team section -->
  <section class="team_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          Choose a suitable <span> Investment</span> Plan
        </h2>
        <br>
        <h2 class="">
          <i>Forex</i>
        </h2>
      </div>

      <div class="team_container">
        <div class="row">
          <div class="col-lg-2 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="/images/white.png" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Basic Plan
                </h5>
                <p>
                  $100 - $1000
                </p>
              </div>
              <div class="social_box">
                <a href="/signup" style="margin-left: 14px;">Start Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="/images/brass.jpg" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Brass Plan
                </h5>
                <p>
                  $1100 - $10000
                </p>
              </div>
              <div class="social_box">
                <a href="/signup" style="margin-left: 14px;">Start Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="/images/bronze.png" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Bronze Plan
                </h5>
                <p>
                  $10000 - $50000
                </p>
              </div>
              <div class="social_box">
                <a href="/signup" style="margin-left: 14px;">Start Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="/images/silver.jpg" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Silver Plan
                </h5>
                <p>
                  $50000 - $100000
                </p>
              </div>
              <div class="social_box">
                <a href="/signup" style="margin-left: 14px;">Start Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="/images/gold.jpg" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Gold Plan
                </h5>
                <p>
                  $100000 - $500000
                </p>
              </div>
              <div class="social_box">
                <a href="/signup" style="padding-left: 135px;">Start Now</a>
              </div>
            </div>
          </div>
          <br>

        </div>
        <br>
        <br>
        <h2 style="text-align: center;font-weight: bold;"><i>Crypto</i></h2>
        <div class="team_container">
          <div class="row">
            <div class="col-lg-2 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="/images/white.png" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Basic Plan
                  </h5>
                  <p>
                    $100 - $1000
                  </p>
                </div>
                <div class="social_box">
                  <a href="/signup" style="margin-left: 14px;">Start Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="/images/brass.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Brass Plan
                  </h5>
                  <p>
                    $1100 - $10000
                  </p>
                </div>
                <div class="social_box">
                  <a href="/signup" style="margin-left: 14px;">Start Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="/images/bronze.png" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Bronze Plan
                  </h5>
                  <p>
                    $10000 - $50000
                  </p>
                </div>
                <div class="social_box">
                  <a href="/signup" style="margin-left: 14px;">Start Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="/images/silver.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Silver Plan
                  </h5>
                  <p>
                    $50000 - $100000
                  </p>
                </div>
                <div class="social_box">
                  <a href="/signup" style="margin-left: 14px;">Start Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="/images/gold.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Gold Plan
                  </h5>
                  <p>
                    $100000 - $500000
                  </p>
                </div>
                <div class="social_box">
                  <a href="/signup" style="padding-left: 135px;">Start Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- end team section -->


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          Testimonials
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="/images/client1.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      LusDen
                    </h6>
                    <p>
                      Customer
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Clardexfx have helped me improve my profits and also enable me to withdraw without much
                  hassle. Highly recommend it for both expert and upcoming investors. </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="/images/client2.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Binta
                    </h6>
                    <p>
                      Customer
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  With little or no knowledge of bitcoin investment, i was able to trade my bitcoin
                  through clardexfx with the help of their online support which served as a great help for
                  me throughout my investment duration.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="/images/client1.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      LusDen
                    </h6>
                    <p>
                      Customer
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Without any doubt, the customer support experience is the best of all. The expert
                  guidiance i received during my investment period enable me to be successful of which i
                  was not able to do alone. Thank you so much Clardexfx.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="/images/client2.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Binta
                    </h6>
                    <p>
                      Customer
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  i have always liked modern programs, but never invested quite enough to earn good amount
                  of profit, thanks for clardexfx for this opportunity and we have a program we can be
                  proud of.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->


  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">

              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +1 302567422
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  info@clardexfx.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              ClardexFx, taking you to unimaginable heights
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="" href="/">
                Home
              </a>
              <a class="" href="/about">
                About
              </a>
              <a class="" href="/contact">
                Contact
              </a>
              <a class="" href="/login">
                Login
              </a>
              <a class="" href="/signup">
                Signup
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="/">ClardexFx</a>
      </p>
    </div>
  </section>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>