<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/exstyle.css">
</head>

<body>

    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
            async>
                {
                    "symbols": [
                        {
                            "proName": "FOREXCOM:SPXUSD",
                            "title": "S&P 500"
                        },
                        {
                            "proName": "FOREXCOM:NSXUSD",
                            "title": "US 100"
                        },
                        {
                            "proName": "FX_IDC:EURUSD",
                            "title": "EUR to USD"
                        },
                        {
                            "proName": "BITSTAMP:BTCUSD",
                            "title": "Bitcoin"
                        },
                        {
                            "proName": "BITSTAMP:ETHUSD",
                            "title": "Ethereum"
                        }
                    ],
                        "showSymbolLogo": true,
                            "isTransparent": false,
                                "displayMode": "adaptive",
                                    "colorTheme": "light",
                                        "locale": "en"
                }
            </script>
    </div>
    <!-- TradingView Widget END -->

    <header class="all-header">
        <nav>
            <img src="images/logo.png" class="yo" alt="This is the header logo">

            <a href="#" id="menu-icon"></a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">AboutUs</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/">Login</a></li>
            </ul>
        </nav>
        <img src="images/bkgd-img.jpg" class="bkgd-img" alt="This is the Background Image">
        <h1 class="header-txt">Welcome to Clardex FX secured and fast trading</h1>
    </header>

    <main>
        <section class="three-sec">
            <div class="three-col">
                <div class="three-elements">
                    <i class="fa-solid fa-credit-card fa-2xl" style="color: lightblue;"></i>
                    <h2>Deposit</h2>
                    <p>Deposit on several asset up to 200 stock and also crypto trading. <a href="/signup">Click here to
                            deposit
                        </a>
                    </p>
                </div>
                <div class="three-elements">
                    <i class="fa-solid fa-stairs fa-2xl" style="color: palevioletred;"></i>
                    <h2>Trade</h2>
                    <p>Trade on several asset up to 200 stock and also crypto trading. <a href="/signup">Click here to
                            get started

                        </a>
                    </p>
                </div>
                <div class="three-elements">
                    <i class="fa-solid fa-wallet fa-2xl" style="color: lightgreen;"></i>
                    <h2>Withdraw</h2>
                    <p>Trade on several asset up to 200 stock and also crypto trading. <a href="/signup">Click here to
                            get started
                        </a>
                    </p>
                </div>
            </div>
        </section>

        <section class="four-sec">
            <div class="four-col">
                <div class="four-elementone">
                    <h3>Support</h3>
                    <p>Our team is at your disposal 24hours a day, 7days a week, If you have any questions write to
                        us.</p>
                </div>
                <div class="four-elementtwo">
                    <h3>Dedicated server</h3>
                    <p>Our site is located on a very secure, stable and dedicated server. You do not have to worry
                        about any break in it's operation.
                    </p>
                </div>
                <div class="four-elementthree">
                    <h3>Warranty</h3>
                    <p>The stability of our company and income guarantee that your deposit is safe and secured
                        throughout the entire investment plan.
                    </p>
                </div>
                <div class="four-elementfour">
                    <h3>Team</h3>
                    <p>We are a well coordinated team that takes responsibility for fulfilling the contract.
                    </p>
                </div>
            </div>
        </section>

        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>

            <section class="plan-sec">
                <div>
                    <div>

                    </div>
                    <div class="plan-header">
                        <h3>Choose a suitable investment plan</h3>
                        <h4>Choose which plan is best for you</h4>
                    </div>
                    <h3 class="plan-1">FOREX</h3>
                    <div class="plan-col">
                        <div>
                            <h3>Basic plan</h3>
                            <p>$100-$1000</p>
                            <button>Start now</button>
                        </div>
                        <div>
                            <h3>Brass plan</h3>
                            <p>$1100-$10000</p>
                            <button>Start now</button>
                        </div>
                        <div>
                            <h3>Bronze plan</h3>
                            <p>$10000-$50000</p>
                            <button>Start now</button>
                        </div>
                        <div>
                            <h3>Silver plan</h3>
                            <p>$50000-$100000</p>
                            <button>Start now</button>
                        </div>
                    </div>
                    <div class="plan-gold">
                        <h3>Gold plan</h3>
                        <p>$100000-$500000</p>
                        <button>Start now</button>
                    </div>
                </div>
                <h3 class="plan-1">Crypto</h3>
                <div class="plan-col">
                    <div>
                        <h3>Basic plan</h3>
                        <p>$100-$1000</p>
                        <button>Start now</button>
                    </div>
                    <div>
                        <h3>Brass plan</h3>
                        <p>$1100-$10000</p>
                        <button>Start now</button>
                    </div>
                    <div>
                        <h3>Bronze plan</h3>
                        <p>$10000-$50000</p>
                        <button>Start now</button>
                    </div>
                    <div>
                        <h3>Silver plan</h3>
                        <p>$50000-$100000</p>
                        <button>Start now</button>
                    </div>
                </div>
                <div class="plan-gold">
                    <h3>Gold plan</h3>
                    <p>$100000-$500000</p>
                    <button>Start now</button>
                </div>
        </div>
        </section>


        <section class="testimonials">
            <div class="container">
                <div class="title">
                    <h3>Testimonials</h3>
                </div>

                <div class="slider-indicator">
                    <img src="images/pic-test1.jpeg" class="active" alt="img" data-id="0">
                    <img src="images/pic-test2.jpeg" alt="img" data-id="1">
                    <img src="images/pic-test3.jpeg" alt="img" data-id="2">
                    <img src="images/pic-test3.jpeg" alt="img" data-id="3">
                </div>

                <div class="slider">
                    <div class="slide active">
                        <p>
                            Clardexfx have helped me improve my profits and also enable me to withdraw without much
                            hassle. Highly recommend it for both expert and upcoming investors.
                        </p>
                        <div class="client-info">
                            <h3>ClardexFx</h3>
                        </div>
                    </div>
                    <div class="slide">
                        <p>
                            WIth lilltle or no knowledge of bitcoin investment, i was able to trade my bitcoin
                            through clardexfx with the help of their online support which served as a great help for
                            me throughout my investment duration.
                        </p>
                        <div class="client-info">
                            <h3>ClardexFx</h3>
                        </div>
                    </div>
                    <div class="slide">
                        <p>
                            Without any doubt, the customer support experience is the best of all. The expert
                            guidiance i received during my investment period enable me to be successful of which i
                            was not able to do alone. Thank you so much Clardexfx.
                        </p>
                        <div class="client-info">
                            <h3>ClardexFx</h3>
                        </div>
                    </div>
                    <div class="slide">
                        <p>
                            i have always liked modern programs, but never invested quite enough to earn good amount
                            of profit, thanks for clardexfx for this opportunity and we have a program we can be
                            proud of.
                        </p>
                        <div class="client-info">
                            <h3>ClardexFx</h3>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
  
    <footer>
        <div class="foot-col">
            <div>
                <img src="images/logo.png" width="130" height="60">
            </div>
            <div>
                <strong>
                    <p>Email Us: ClardexFx@gmail.com</p>
                </strong>
            </div>
        </div>
    </footer>

    <script>
        const slides = document.querySelector(".slider").children;
        const indicatorImages = document.querySelector(".slider-indicator").children;

        for (let i = 0; i < indicatorImages.length; i++) {
            indicatorImages[i].addEventListener("click", function () {

                for (let j = 0; j < indicatorImages.length; j++) {
                    indicatorImages[j].classList.remove("active");
                }
                this.classList.add("active");
                const id = this.getAttribute("data-id");
                for (let j = 0; j < slides.length; j++) {
                    slides[j].classList.remove("active");
                }

                slides[id].classList.add("active");
            })
        }
    </script>


</body>

</html>